.contatos {
    background-color: var(--branco);
    padding: 1em;
}

.contatos__titulo {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 18px;
    font-weight: 500;    
}

.contatos__texto {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 16px;
    font-weight: 300;
    margin: 1em 0;
}

.contatos__email {
    padding: 1em;
    border: 1px solid var(--azul);
    border-radius: 24px;
    width: 90%;
    color: var(--azul);
}

.contatos__email::placeholder {
    font-family: var(--fonte-principal);
    color: var(--azul);
    background: url('./envelope.svg') no-repeat;
    padding-left: 2em;       
}

