@import url('./header/assets/header.css');
@import url('./banner/banner.css');
@import url('./carrossel/carrossel.css');
@import url('./cards/card.css');
@import url('./topicos/topicos.css');
@import url('./contatos/contatos.css');
@import url('./rodape/rodape.css');

:root {
    --corDeFundo: #EBECEE;
    --branco: #ffffff;
    --laranja: #EB9B00;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte-principal: "Poppins";
    --fonte-alternativa: 'Josefin Sans';
    --azul: #002F52;
    --preto: #000000;
    --cinza-claro: #858585;
    --cinza-escuro: #474646;

}

body {
    background-color: var(--corDeFundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

