.card__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.card__descricao-texto {
    color: var(--laranja);    
    font-weight: 700;
}

.card__descricao-titulo {
    color: var(--azul);
    font-size: 18px;
    font-weight: 700;
    padding: 0.5em 0;
}

.card__descricao-sinopse {
    color: var(--preto);
    font-size: 14px;
    font-weight: 400;
}

.card {
    background: var(--branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}

.card__botao {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__botao-lista {
    display: flex;
    justify-content: space-between;
}

.card__botao-item {
    margin: 0 0.5em;
}

.card__botao-ancora {
    background-color: var(--laranja);
    padding: 1em 2.3em;
    color: var(--branco);
    font-weight: 700;
    text-decoration: none;
}

.card__descricao-estrela {
    margin-bottom: 0.5em;    
}