.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.cabecalho__menu {
    width: 24px;
    height: 24px;
    background-image: url("../assets/Menu.svg");     
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;    
}

.container__botao:checked ~ .container__label > .cabecalho__menu {
    background-image: url(../assets/Menu\ Aberto.svg);  
}

.container__botao:checked ~.container__label {
    background: var(--azul-degrade);
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute; 
    top: 100%;   
    width: 60vw;
}

.container__botao:checked ~ .lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja); 
    font-weight: 700;  
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; 
    text-transform: uppercase; 
}

.container__botao {
    display: none;
}

.cabecalho__titulo {
    display: none;
}

.opcoes {
    display: none;
}

.container__imagem--coracao{
    display: block;
}

.container__texto {
    display: none;
}

@media screen and (min-width: 1024px) {
    
    .cabecalho__titulo,
    .cabecalho__titulo-negrito {
        font-family: var(--font-alternativa);
        font-size: 30px;
    }

    .cabecalho__titulo {
        font-weight: 400;
        display: block;
    }

    .cabecalho__titulo-negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
        justify-content: space-between;       
    }

    .opcoes__link {
        padding: 2em;
    }

    .cabecalho__menu {
        display: none;
    }  
    
    .opcoes__botao:checked ~ .lista-menu {
        display: block;
        width: auto;
    }

    .opcoes__botao {
        display: none;
    }

    .container__imagem--coracao {
        display: none;
    }
}

@media screen and (min-width: 1728px) {
    
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .container__texto {
        color: var(--preto); 
        display: block;       
    }

    .cabecalho {
        padding: 0 2em;
    }

    .opcoes {
        margin-right: auto;
    }

    
}

