.topicos {
    background: var(--azul-degrade);
    text-align: center;
    padding: 1em 0;
}

.topicos__titulo {
    color: var(--branco);
    font-weight: 300; 
    margin-bottom: 1em;       
}

.topicos__lista-ancora {
    text-decoration: none;
    color: var(--branco);
    padding: 1em;
    background-color: var(--laranja);
    font-size: 14px;
    font-weight: 700;
}

.topicos__lista-item {
    margin: 2em 0.5em;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}