.carrossel__titulo {
    color: var(--laranja);
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding: 1em 0 0.5em 0;
    background-color: var(--branco);
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 0.5em 0;
}

@media screen and (min-width: 1024px) {

    .carrossel__titulo {
        font-size: 26px;        
    }

    .swiper-pagination {
        margin: 1em 0 2em 0;
    }

    .swiper {
        width: 60%;        
    }
}

@media screen and (min-width: 1728px) {

    .carrossel__titulo {
        font-size: 32px;        
    }

    .carrossel__container {
        display: flex;
        margin: 0 20vw 3em 20vw;
        align-items: center;
    }

    .swiper-pagination {
        margin: 1em 0;
    }

    .swiper {
        width: 60%;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: block;
    }

    
}